body {
    height: 1000px;
    background-color: var(--background-color);
}
/* HEADER */
#header {
    width: 100%;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    color: var(--white-color);
}

.header-container {
    padding-left: 8px;
    padding-right: 8px;
}

/* Nav bar */
.nav-bar ul {
    list-style: none;
    align-items: center;
    padding: 0;
    position: relative;
}

.nav-bar li{
    padding: 6px 8px;
    font-size: 13px;
    line-height: 1.5;
}

.nav-bar ul li .bi {
    margin: 0 4px;
    transform: translateY(2px);
}

.nav-bar__centre {
    margin-left: 16px;
}

/* Download  */
.nav-bar__download {
    position: relative;
}

.nav-bar__download:hover .nav-bar__download-apps {
    display: block;
}

.nav-bar__download-apps {
    display: none;
    position: absolute;
    z-index: 1;
    top: calc(100% + 1px);
    width: 186px;
    padding: 14px;
    background-color: var(--white-color);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    animation: zoomIn ease-in .2s;
    transform-origin: 40px 0px;
}

.nav-bar__download-apps .qr-code {
    width: 100%;
}

.nav-bar__download-apps .apps {
    flex-wrap: wrap;
}

.app-store, .ch-play {
    margin-top: 16px;
    margin-bottom: 8px;
}

/* Notifications */
.nav-bar__noti {
    position: relative;
}

.notification {
    position: absolute;
    z-index: 1;
    right: 8px;
    top: calc(100% + 4px);
    background-color: var(--white-color);
    width: 400px;
    height: 350px;
    color: var(--gray-color);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.nav-bar__noti:hover .notification {
    display: flex;
}

.notification::after {
    content: "";
    position: absolute;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    top: -20px;
    right: 7%;
}

.notification::before {
    content: "";
    position: absolute;
    right: 0;
    top: -16px;
    border-width: 10px 46px;
    border-color: transparent;
    border-style: solid;
}

.res {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
}

.res__sign-up, .res__login {
    background-color: rgb(245, 245, 245);
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.res__sign-up {
    margin-left: 8px;
}

.res__login {
    margin-right: 8px;
}

.res__sign-up:hover,
.res__login:hover {
    color: var(--primary-color);
    background-color: rgb(224, 224, 224);
}

/* Language */
.nav-bar__language {
    position: relative;
}

.language-option {
    position: absolute;
    z-index: 1;
    right: 8px;
    top: calc(100%);
    background-color: var(--white-color);
    width: 200px;
    color: var(--gray-color);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.nav-bar__language:hover .language-option {
    display: flex;
}

.language-option::after {
    content: "";
    position: absolute;
    border-width: 8px 12px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    top: -16px;
    right: 15%;
}

.language-option::before {
    content: "";
    position: absolute;
    right: 0;
    top: -16px;
    border-width: 10px 46px;
    border-color: transparent;
    border-style: solid;
}

.vietnamese, .english {
    line-height: 35px;
}

.vietnamese:hover, .english:hover {
    color: var(--primary-color);
}

/* Login */

.nav-bar__login {
    margin-right: 16px;
}

.nav-bar__contact a {
    color: var(--white-color);
    text-decoration: none;
}

/* Heading tool */
.heading-tool {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 10px;
}

.branch-logo svg {
    width: 150px;
    fill: var(--white-color);
}

.search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    margin-left: 8px;
    margin-right: 60px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    flex: 1;
}

.search-input {
    position: relative;
    border: none;
    height: 40px;
    margin-left: -8px;
    padding: 8px 10px;
    font-size: 14px;
    opacity: .8;
}

.search-input:focus ~ .search-history {
    display: block;
}

.search-history {
    position: absolute;
    z-index: 1;
    color: rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    width: 75%;
    left: 0;
    top: calc(100% + 4px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    display: none;
}

.search-title {
    padding: 8px;
}

.search-history-words p {
    padding: 8px;
    color: rgba(0, 0, 0, 0.8);
}

.search-range {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-weight: 100;
    margin-right: 0px;
    margin-left: 3px;
    height: 24px;
    line-height: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.search-range svg {
    margin-left: 10px;
    margin-top: 5px;
}

.search-glass {
    width: 60px;
    height: 34px;
    margin-left: 3px;
    margin-right: -5px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cart */

.cart {
    margin-right: 64px;
    position: relative;
    transform: translateY(10px);
}

.cart:hover .cart-list,
.cart {
    display: flex;
    cursor: pointer;
}

.cart i {
    font-size: 20px;
}

.cart-list {
    position: absolute;
    right: -13px;
    top: calc(100% + 12px);
    width: 400px;
    height: 250px;
    color: var(--gray-color);
    font-size: 14px;
    background-color: var(--white-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.cart-list::after {
    content: "";
    position: absolute;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    top: -20px;
    right: 8px;
}

.cart-list img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Go back */
.go-back {
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.8);
}

.go-back svg {
    transform: translateY(3px);
}

/* Container */
.container {
    /* margin-top: 50px; */
}

.shop-infor {
    width: 100%;
    color: var(--white-color);
    font-size: 14px;
    height: 180px;
    position: relative;
}

.shop-background {
    filter: blur(2px);
    width: 100%;
    height: 100%;
    background-image: url(../img/memoryzone.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-left: -8px; */
}

.shop-detail {
    position: absolute;
    top: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.shop-logo img {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 48%;
    margin-top: 15%
}

.shop-name {
    padding: 2px;
}

.shop-status {
    font-size: 12px;
    color: rgb(177, 177, 177);
    margin-top: 8px;
    letter-spacing: -0.3px;
    font-weight: bold;
}

/* CATEGORIES */
.shop-categories {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    padding: 16px 20px 50px 20px;
    background-color: var(--white-color);
    color: rgba(0, 0, 0, 0.8);
}

.shop-categories span {
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}

.product-type {
    font-size: 13px;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.list-products .product-type:first-child {
    border:none
}